---
import Layout from "~/layouts/PageLayout.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";
import Button from "~/components/widgets/Button.astro";

const meta = {
  title: "Download",
};
---

<Layout {meta}>
  <CallToAction title="Android" subtitle="Send and receive files on your phone">
    <div slot="callToAction">
      <div class="mt-6 flex flex-row gap-3 flex-wrap">
        <Button
          text="Google Play"
          href="https://play.google.com/store/apps/details?id=de.shortdev.nearby_sharing_windows"
          icon="tabler:brand-google-play"
        />
        <Button
          text="Google Play (Preview)"
          href="https://play.google.com/apps/testing/de.shortdev.nearby_sharing_windows"
          icon="tabler:brand-google-play"
        />
        <Button
          text="F-Droid"
          href="fdroidrepos://nearshare.shortdev.de/fdroid/repo"
          icon="tabler:brand-android"
          plausibleEvent="launch-fdroid"
        />
        <Button
          text="GitHub"
          href="https://github.com/nearby-sharing/android/releases"
          icon="tabler:brand-github"
        />
      </div>
    </div>
  </CallToAction>
</Layout>
