---
import Layout from "~/layouts/PageLayout.astro";
import FAQs from "~/components/widgets/FAQs.astro";

const meta = {
  title: "FAQs",
};
---

<Layout {meta} itemtype="http://schema.org/FAQPage">
  <FAQs
    highlight="FAQs"
    title="Sending"
    subtitle="Share from phone to windows"
    items={[
      [
        {
          question: "What can I share?",
          answer:
            "You can share files, urls and plain-text to any Windows 10 / 11 devices or an android phone with this app installed.",
        },
        {
          question: "How can I share?",
          answer:
            'You can use the "Send" button in the app to select a file or simple use the native android / windows sharing menu (e.g. from your gallery or browser).',
        },
        {
          question: "Can I send multiple files?",
          answer:
            "Yes, you are able to select multiple files in your gallery / files app or use the android native sharing menu. From there you can select this app.",
        },
      ],
      [
        {
          question: "My transfer is slow",
          answer: `The App uses bluetooth to establish a session and tries to upgrade to a faster transport (i.e. WiFi) if possible. Have a look at the <a class="text-blue-600 hover:underline dark:text-gray-200" href="/docs/setup" target="_blank">setup instructions</a> to ensure a transport-upgrade is possible.`,
        },
        {
          question: "My devices is not shown (via network)",
          answer: `Follow the <a class="text-blue-600 hover:underline dark:text-gray-200" href="/setup" target="_blank">setup</a> on your PC to ensure all settings are correct!`,
        },
      ],
    ]}
  />

  <FAQs
    highlight="FAQs"
    title="Receiving"
    subtitle="Share from windows to phone"
    items={[
      [
        {
          question: "Can I receive in background?",
          answer:
            "No, that is currently not supported, but will come soon. You can already use a quick setting to open the app directly to the receive screen.",
        },
        {
          question: "What about the MAC-Address?",
          answer:
            "Your phone advertises itself with it's MAC-Address in order for the sending device to be able to connect to your phone. Due to privacy reasons, there's no way to get this address programmatically. With the wrong address you won't be able to receive but your phone will still be discovered!",
        },
      ],
      [
        {
          question: "My Phone is discovered but no notification",
          answer:
            "If your're using the YourPhone app from microsoft, you have to disconnect the bluetooth connection to your PC in settings as it interferes with the nearby-sharing app.",
        },
      ],
    ]}
  />

  <FAQs
    highlight="FAQs"
    title="Technical"
    subtitle="Behind the scenes"
    items={[
      [
        {
          question: "What transport technologies are used?",
          answer:
            "In theory, any type of transport can be used but currently only Bluetooth (Rfcomm) and Wifi (local network) are supported.",
        },
      ],
    ]}
  />
</Layout>
