---
import Layout from "~/layouts/PageLayout.astro";
import FAQs from "~/components/widgets/FAQs.astro";

const meta = {
  title: "FAQs",
};
---

<Layout {meta}>
  <FAQs
    highlight="FAQs"
    title="Sending"
    subtitle="Share from phone to windows"
    items={[
      [
        {
          question: "What can I share?",
          answer:
            "You can share files / urls or plain-text to any Windows 10 / 11 devices or android phone with this app installed.",
        },
        {
          question: "How can I share?",
          answer:
            'You can use the "Send" button in the app to select a file or simple use the native android / windows sharing menu (e.g. from your gallery or browser).',
        },
        {
          question: "Can I send multiple files?",
          answer:
            "Yes, you are able to select multiple files in your gallery / files app or use the android native sharing menu. From there you can select this app.",
        },
      ],
      [
        {
          question: "My transfer is slow",
          answer: `In general bluetooth is slower than wifi, so try to always choose wifi if you can. Have a look at the <a href="/docs/setup" target="_blank">setup instructions</a>.`,
        },
        {
          question: "My devices is not shown (via network)",
          answer: `Follow the <a href="/setup" target="_blank">setup</a> on your PC to ensure all settings are correct!`,
        },
      ],
    ]}
  />

  <FAQs
    highlight="FAQs"
    title="Receiving"
    subtitle="Share from windows to phone"
    items={[
      [
        {
          question: "Can I receive in the background?",
          answer:
            "No, that is currently not supported, but will come soon. You can already use a quick setting to open the app directly to the receive screen.",
        },
      ],
      [
        {
          question: "My PC does not connect",
          answer:
            "I've your're using the YourPhone app from microsoft, you have to disconnect from your PC in the bluetooth settings on your phone until there's a fix for that.",
        },
      ],
    ]}
  />

  <FAQs
    highlight="FAQs"
    title="Technical"
    subtitle="Behind the scenes"
    items={[
      [
        {
          question: "What transport technologies are used?",
          answer:
            "In theory, any type of transport can be used but currently only Bluetooth (Rfcomm) and Wifi (local network) are supported.",
        },
      ],
    ]}
  />
</Layout>
