---
import { SITE } from "~/config.mjs";
import Layout from "~/layouts/PageLayout.astro";

import Hero from "~/components/widgets/Hero.astro";
import Steps from "~/components/widgets/Steps.astro";
import SentryLogo from "~/components/logos/SentryLogo.astro";

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <Hero
    callToAction={{
      text: "Download",
      href: "/download",
      icon: "fluent:arrow-download-24-regular",
    }}
    callToAction2={{
      text: "Setup",
      href: "/setup",
      icon: "fluent:settings-24-regular",
    }}
  >
    <Fragment slot="title"> cross-platform file transfer </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">NearShare</span> is an (ad) free, open-source
        and cross-platform implementation of the Microsoft Connected Device Platform
        (Project Rome) that allows to send files and websites between devices.</span
      >
    </Fragment>
  </Hero>

  <Steps
    title="Get started sharing!"
    items={[
      {
        title:
          'Step 1: <span class="font-medium">Download the app on your phone</em>',
        description:
          "Go to <a class='text-accent' href='/download' target='_blank'>download</a> and download the app on your phone.",
        icon: "fluent:cloud-arrow-down-32-regular",
      },
      {
        title: 'Step 2: <span class="font-medium">Setup your Phone & PC</span>',
        description:
          'Follow the <a class="text-accent" href="/setup" target="_blank">setup instructions</a>.',
        icon: "fluent:settings-32-regular",
      },
      {
        title: "Ready!",
        icon: "tabler:check",
      },
    ]}
    image={{
      src: import("~/assets/images/logo.svg"),
      alt: "Steps image",
    }}
  />

  <section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-6xl">
    <div class="grid gap-6 row-gap-10 md:grid-cols-2">
      <div class="md:py-4 md:pr-16 mb-4 md:mb-0">
        <h2 class="mb-8 text-3xl lg:text-4xl font-bold font-heading">
          Supporters
        </h2>
        <div class="relative">
          <SentryLogo />
        </div>
      </div>
    </div>
  </section>
</Layout>
