---
import Layout from "~/layouts/PageLayout.astro";
import Steps2 from "~/components/widgets/Steps2.astro";
import Steps from "~/components/widgets/Steps.astro";
import Hero from "~/components/widgets/Hero.astro";

const meta = {
  title: "Setup your Windows machine",
  subtitle: "Execute on your Windows machine",
};
---

<Layout {meta}>
  <Hero
    title="Setup"
    callToAction={{
      icon: "fluent:settings-24-regular",
      text: "Open settings",
      href: "ms-settings:crossdevice",
    }}
  >
    <Fragment slot="subtitle">
      Follow these steps to enable nearby sharing on your <b>Windows machine</b
      >.
    </Fragment>
  </Hero>
  <Steps
    title="Setup your Windows machine"
    hugeMargin={false}
    items={[
      {
        icon: "fluent:bluetooth-24-regular",
        title: `Enable "Bluetooth"`,
        description: `Bluetooth is needed for the initial connection.
            <ol class="list-inside list-decimal">
              <li>Open <a class="text-accent" href="ms-settings:bluetooth">Bluetooth Settings</a></li>
              <li>Enable "Bluetooth"</li>
            </ol>`,
      },
      {
        icon: "fluent:share-24-regular",
        title: `Enable "Nearby Sharing"`,
        description: `
            <ol class="list-inside list-decimal">
              <li>Open <a class="text-accent" href="ms-settings:crossdevice">Settings</a></li>
              <li>Enable "Nearby Sharing"</li>
              <li>Allow to receive from "Everyone nearby"</li>
            </ol>`,
      },
      {
        icon: "fluent:comment-24-regular",
        title: `Enable Notifications`,
        description: `NearShare on Windows sends you notifications to accept transfers.<br/>
                Enable them in <a class="text-accent" href="ms-settings:notifications">Notification Settings</a>.`,
      },
      {
        icon: "fluent:checkmark-24-regular",
        title: `Ready`,
      },
    ]}
  />
  <Steps
    title="Enable fast transfers over network (optional)"
    hugeMargin={false}
    items={[
      {
        icon: "fluent:wifi-1-24-regular",
        title: `Establish network connection`,
        description: `Open <a class="text-accent" href="ms-settings:network-wifi">WiFi Settings</a>.<br/>
            Enable "WiFi" (Ethernet is fine too).`,
      },
      {
        icon: "fluent:home-24-regular",
        title: `Set your home network to "Private"`,
        description: `Open <a class="text-accent" href="ms-settings:network">Network Settings</a>.<br/>
            Choose your current network.<br/>
            Set it to "Private" to be able to receive via network (faster).`,
      },
      {
        icon: "fluent:globe-24-regular",
        title: `Enable "File and Printer Sharing"`,
        description: `Open <a class="text-accent" href="ms-settings:network-advancedsharing">Advanced Sharing Settings</a>.<br/>
                Under "Private" enable "File and Printer Sharing".`,
      },
      {
        icon: "fluent:checkmark-24-regular",
        title: `Ready`,
      },
    ]}
  />
  <Steps
    title="Troubleshooting"
    hugeMargin={false}
    items={[
      {
        icon: "fluent:apps-24-regular",
        title: "Apply registry patch",
        description: `Newer versions of Windows limit the number of messages a single device can send (throttling). <br/>
            This prevents larger transfers from completing as each message may only contain a view kilobytes of data.<br/>
            Until Microsoft provides a fix, you can apply <a class="text-accent plausible-event-name=max-messages-fix" href="/patches/max-messages-per-endpoint.reg" download>this registry patch</a>.`,
      },
      {
        icon: "fluent:arrow-reset-24-filled",
        title: `Reset Firewall rules`,
        description: `If the previous step did not work, you can try to reset the Firewall rules:
            <ol class="list-inside list-decimal">
              <li>Open <a class="text-accent plausible-event-name=reset-firewall" href="windowsdefender://network/">Defender Firewall</a></li>
              <li>Click on "Restore defaults" to reset all rules.</li>
            </ol>`,
      },
      {
        icon: "fluent:checkmark-24-regular",
        title: `Ready`,
      },
    ]}
  />
</Layout>
